<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<mat-card class="cardWithShadow">
    <mat-card-content>
      <mat-card-title>Pagina de muestra</mat-card-title>
      <mat-card-subtitle class="mat-body-1">Puedes ver nuestra otra pagina.</mat-card-subtitle>
      <div class="p-24">
        <a
          mat-flat-button
          color="primary"
          href="https://webcrafters-co.github.io/WebCrafters-Co/index.html"
          target="_blank"
          class="d-flex justify-content-center w-100"
        >
          Quienes somos
        </a>
      </div>
    </mat-card-content>
  </mat-card>
  